.container.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.headshot {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.container.home div {
    text-align: center;
}

.name {
    font-size: 1.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.title {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.home p {
    text-align: center;
}

.home-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: #2e2e2e;
    border: white solid 1px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    width: 70vw;
    text-align: center;
    font-size: .75rem;
}

.get-in-touch {
    border: solid var(--accent-color) 1px;
    background-color: var(--accent-color);
    color: black;
}

.resume {
    background-color: #2e2e2e;
    border: white solid 1px;
    margin-top: .1rem;
}

.resume a {
    color: white;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 450;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.subtitle-group {
    display: flex;
    align-items: center;
}

.subtitle-group p {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2rem;
    margin-bottom: 5px;
}

.section-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.section-body {
    margin: 0;
    color: var(--body-color);
}

.section-body li {
    margin-bottom: 0.5rem;
}

.section-linkedin {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

li::marker {
    color: var(--accent-color);
}

@media (min-width: 768px) {
    .headshot {
        width: 12rem;
        height: 12rem;
    }

    .section-body {
        width: 85%;
    }

    .link-button {
        width: 50vw;
    }
}

@media (min-width: 1024px) {
    .container.home {
        flex-direction: row;
        justify-content: left;
        margin-left: 5rem;
        margin-top: 5rem;
    }

    .container.home p {
        text-align: left;
    }

    .container.home ul {
        text-align: left;
    }
    
    .link-container {
        border-radius: 0;
    }

    .home-link-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .link-button {
        width: auto;
        border-radius: 0;
    }

    .link-button:hover {
        background-color: var(--accent-color);
        color: black;
        border: solid var(--accent-color) 1px;
    }

    .get-in-touch:hover {
        background-color: #2e2e2e;
        color: white;
        border: solid white 1px;
    }

    .home-container-laptop {
        margin-left: 3rem;
    }

    .name {
        font-size: 2rem;
        margin: 0;
    }

    .title {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .section-1 {
        width: 50%;
        align-items: left;
    }

    .section-2 {
        align-items: flex-start;
        width: 80%;
    }
}